<div class="container">
  <div class="col" style="text-align: center;padding-top: 8px;padding-bottom: 8px;">
    <div>
      <img src="../../../assets/images/image.jpg" height="60px;" width="60px;" style="border-radius: 50%;" alt="">
    </div>
    <div class="name">
      <p>Krushna Nikam</p>
    </div>
    <div class="position">
      <p>Developer</p>
    </div>
    <div class="description">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
    <div>
      <button class="btn">Follow</button>
    </div>
    <hr style="border: 0.3px solid rgba(150, 146, 146,0.3);">

    <div class="row">
      <div class="col-4">
        <div> 5856 </div>
        <div> Post </div>
      </div>
      <div class="col-4">
        <div> 1856 </div>
        <div> Followers </div>
      </div>
      <div class="col-4">
        <div> 9856 </div>
        <div> Likes </div>
      </div>
    </div>

  </div>
</div>
