<div class="card container" style="">
  <div class="container p-3 updates"> Updates </div>
  <div>
    <ul class="ulList">
      <li class="li">
        <p>User Confirmation</p>
        <p>Doned dnjf dfheruj dfldnjf df.</p>
        <p>@ 7 months ago</p>
      </li>
    </ul>

    <ul class="ulList">
      <li class="li">
        <p>User Confirmation</p>
        <p>Doned dnjf dfheruj dfldnjf df.</p>
        <p>@ 7 months ago</p>
      </li>
    </ul>

    <ul class="ulList">
      <li class="li">
        <p>User Confirmation</p>
        <p>Doned dnjf dfheruj dfldnjf df.</p>
        <p>@ 7 months ago</p>
      </li>
    </ul>
  </div>

</div>
