<div class="container" style="border: 1px solid">
  <div> Updates </div>
  <div>
    <ul>
      <li class="li">
        <p>User Confirmation</p>
        <p>Doned dnjf dfheruj dfldnjf df.</p>
        <p>@ 7 months ago</p>
      </li>
      <!-- <li>
        <div>User Confirmation</div>
        <div>Doned dnjf dfheruj dfldnjf df.</div>
        <div>@ 7 months ago</div>
      </li>
      <li>
        <div>User Confirmation</div>
        <div>Doned dnjf dfheruj dfldnjf df.</div>
        <div>@ 7 months ago</div>
      </li> -->
    </ul>
  </div>
</div>
