
.container{
  border: 1px solid rgba(22, 22, 110, 0.2);
}

i{
  color: rgba(48, 48, 216,0.9);
  font-size: 28px;
  opacity: 0.9;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 8rem;
}

.iconClass{
  align-self: center;
}

.description{
  align-self: center;
}
.description :nth-child(odd){
  color: rgb(70, 84, 133);
  margin-bottom: 0;
  font-size: 14px;
}
.description :nth-child(even){
  font-size: 25px;
  letter-spacing: 1px;
  color: rgb(73, 73, 90);
}

