<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Assignee</th>
        <th>Task Details</th>
        <th>Payment Method</th>
        <th>Payment Status</th>
        <th>Amount</th>
        <th>Tracking Number</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data.sample" >
        <td> {{item.ID}} </td>
        <td> {{item.Assignee}} </td>
        <td> {{item.TaskDetails}} </td>
        <td> {{item.PaymentMethod}} </td>
        <td id="statusId">
          <button class="btn" [class.btn-warning]="item.Paymentstatus === 'Pending'" [class.btn-danger]="item.Paymentstatus === 'Rejected'" [class.btn-success]="item.Paymentstatus === 'Approved'"> <div class="paymentStatus"> {{item.Paymentstatus}} </div></button>
        </td>
        <td> {{item.Amount}} </td>
        <td> {{item.Trackingnumber}} </td>
      </tr>
    </tbody>

  </table>

</div>
