<div style="display: flex;flex-direction: column;justify-content: space-between">
  <div class="app">
      <app-navbar></app-navbar>
  </div>
  <div class="app">
      <app-workingprofessionals></app-workingprofessionals>
  </div>
  <div class="app">
    <app-graphcontaine></app-graphcontaine>
  </div>
  <div class="app">
      <app-tasktable></app-tasktable>
  </div>
  <div class="container app">
      <app-updatesboth></app-updatesboth>
  </div>
  <div class="app">
      <app-managetickets></app-managetickets>
  </div>

</div>
