  <nav class="navbar navbar-collapse">
    <div class="container">

        <div class="row" style="width: 100%">
            <div class="col-4">
              <div class="navbar-brand">
                <span style="padding: 10px;font-size: 25px;"> <i class="fa fa-leaf"></i></span>
                <span>Liberty</span>
                <span>Ui</span>
              </div>
            </div>


            <div class="col-8 align-self-end navbarHeadingPart">
              <div class="input-group searchbar">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-search"></i> </span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="notificationIcon">
                <i class="fa fa-bell"></i>
              </div>
              <div data-toggle="collapse">
                <img src="../../../assets/images/image.jpg"  class="img-rounded img" alt="">
              </div>
              <!-- <div class="collapse">
                <ul class="list-group">
                  <li class="list-group-item">fsf</li>
                  <li class="list-group-item">fsf</li>
                  <li class="list-group-item">fsf</li>
                </ul>
              </div> -->
            </div>


        </div>

        <div class="row" style="width: 100%;margin-top: 2%;">
          <div class="col-2"  id="button">
            <button class="btn active">
              <i class="fa fa-desktop"></i>   <span class="span">DASHBOARD</span>
            </button>
          </div>
          <div class="col-2" id="button">
            <button class="btn">
              <i class="fa fa-bolt"></i>   <span class="span">WIDGET</span>
            </button>
          </div>
          <div class="col-2" id="button">
            <button class="btn">
              <i class="fa fa-react"></i>   <span class="span">UI ELEMENTS</span>
            </button>
          </div>
          <div class="col-2" id="button">
            <button class="btn">
              <i class="fa fa-flag"></i>  <span class="span">PAGES</span>
            </button>
          </div>
          <div class="col-2" id="button">
            <button class="btn">
              <i class="fa fa-broadcast-tower"></i>   <span class="span">FORMS</span>
            </button>
          </div>
          <div class="col-2" id="button">
            <button class="btn">
              <i class="fa fa-asterisk"></i>   <span class="span">APPS</span>
            </button>
          </div>
        </div>

    </div>
  </nav>
