<div>
  <nav class="navbar navbar-collapse">
    <div class="container">
        <div class="row">
            <div>
              <div class="navbar-brand">
                <span style="padding: 10px;font-size: 20px;"> <i class="fa fa-leaf"></i></span>
                <span>Liberty</span>
                <span>Ui</span>
              </div>
            </div>
            <div class="navbarHeadingPart">
              <div class="input-group searchbar">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-search"></i> </span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="notificationIcon">
                <i class="fa fa-bell"></i>
              </div>
              <div data-toggle="collapse">
                <img src="../../../assets/images/image.jpg"  class="img-rounded img" alt="">
              </div>
              <!-- <div class="collapse">
                <ul class="list-group">
                  <li class="list-group-item">fsf</li>
                  <li class="list-group-item">fsf</li>
                  <li class="list-group-item">fsf</li>
                </ul>
              </div> -->
            </div>
        </div>
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fa fa-monitor"></i>
              <span>Desktop</span>
            </li>
          </ul>
        </div>

    </div>
  </nav>
</div>
