<div class="card p-2">
  <div class="col">
    <div class="row">
      <div style="letter-spacing: 1px;"><h5 style="font-size: 25px;color: #354168">The Current Chart</h5></div>
      <canvas id="myChart"></canvas>
    </div>
    <hr style="border:0.5px solid gray;opacity: 0.5;">
    <div class="row">
      <div class="col">
        <h4 style="color: #354168"> Project Status </h4>
        <p style="color: #354168"> <span style="font-size: 40px;">76,533</span> &nbsp;&nbsp; <span style="opacity: 0.8;font-size: 10px;">PCS</span> </p>
      </div>
    </div>
  </div>
</div>
